// Place all the styles related to the ToDoItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
}
div.container {
  width: 320px;
  height: 426px;
  overflow: auto;
  background: #eee;
}
div.container h1.main {
  display: block;
  font-family: 'Droid Serif', serif;
  font-size: 13px;
  background: black;
  color: white;
  font-weight: 100;
}
div.container h1.main span {
  display: block;
  width: 106px;
  margin: 0 auto;
  padding: 2px 1px 1px 1px;
  background-size: 16px 16px;
  background: url("http://gujaratwebdevelopmentindia.com/cake/beta/userfiles/image/ruby.png") no-repeat 4px 2px;
  text-indent: 25px;
}
div.container div.wrapper {
  width: 100%;
}
div.container div.wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
div.container div.wrapper ul li {
  display: block;
  border-bottom: 1px solid #666;
}
div.container div.wrapper ul li a {
  display: block;
  padding: 14px 0;
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
  text-decoration: none;
  padding-left: 54px;
  background: url("http://allenkha.com/sandbox/icons/ic_menu_flag.png") no-repeat 16px center;
  background-size: 20px;
}
div.container div.wrapper ul li a:active, div.container div.wrapper ul li a:focus {
  background-color: #333;
  color: #fff;
}
table {
  border-spacing: 0px;
}
table th, table td {
  margin: 0;
  padding: 8px;
  color: #fff;
}
table td {
  color: #000;
}
