// Place all the styles related to the ToDoItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
}
div.container {
  width: 320px;
  height: 420px;
  overflow: auto;
  background: #eee;
}
h1 {
  display: block;
  font-family: 'Droid Serif', serif;
  margin-bottom: 4px;
  font-size: 13px;
  background: black;
  color: white;
  font-weight: 100;
}
h1 span {
  display: block;
  width: 106px;
  margin: 0 auto;
  padding: 2px 1px 1px 1px;
  background-size: 16px 16px;
  background: url("http://gujaratwebdevelopmentindia.com/cake/beta/userfiles/image/ruby.png") no-repeat 4px 2px;
  text-indent: 25px;
}
div.wrapper {
  width: 100%;
}
table {
  border-spacing: 0px;
}
table th, table td {
  margin: 0;
  padding: 8px;
  color: #fff;
}
table td {
  color: #000;
}
