<!DOCTYPE html>
<html>
<head>
  <title>Homework 3 - Rails Demo</title>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Ruby Demo</h1>
<%= yield %>

</body>
</html>
